@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 70px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;

}

.container-menu {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo {
    height: 100%;
    display: flex ;
    align-items: center;
    
}

.logo img {
   width: 60px;
   border-radius: 10px;
  
}

.menu { 
    height: 100%;
    display: flex;
    align-items: center;
   
}
.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin-left: 30px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 20px;
    color:rgb(12, 51, 51);;
    text-transform: uppercase;
}

.container-cover {
    width: 100%;
    height: 800px;
    background: rgb(158, 230, 174);
}

.cover {
    max-width: 1000px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container-cover .text {
    max-width: 500px;

}
.image {
    padding-left: 10%;
}

.container-cover .text h1 {
    font-size: 30px;
    font-weight: 600%;

}

.container-cover .text p {
    font-size: 18px;
    margin-top: 40px;
}

.container-cover .text input {
    padding: 15px 70px;
    border: none;
    font-size: 20px;
    border-radius: 65px;
    margin-top: 40px;
    background: linear-gradient(to left, #2e533c, rgb(158, 230, 174));
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 30px -15px #2e533c;
    transition: all 300ms;
}

.container-cover .text input:hover  {
    box-shadow: 1px 1px 30px -5px #2e533c;
}

.container-cover .image img {
    width: 700px;
    animation: move-img 5s linear infinite;
    border-radius: 20%;


}

@keyframes move-img{
    0%{
        transform: translate(5px);
    }50% {
        transform: translate(0px);
    }100%{
        transform: translate(5px);
    }
}


#selected {
    
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 30px -15px #3c5043;
    cursor: pointer;
    box-shadow: 1px 1px 30px -15px #205224;
    transition: all 300ms;
}

.background {
    background-color: #3c5043;
}